Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

The sorted() function is used with a lambda function as the key argument. The lambda function specifies that the sorting should be done based on the second
element (x[1]) of each tuple.

Q2. Find the squares of all numbers in a list using lambda and map functions:

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Convert a list of integers into a tuple of strings using map and lambda functions:

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple_of_strings = tuple(map(lambda x: str(x), numbers))
print(tuple_of_strings)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Compute the product of a list containing numbers from 1 to 25 using the reduce function:

In [9]:
from functools import reduce

numbers = list(range(1, 26))

product = reduce(lambda x, y: x * y, numbers)
print(product)

15511210043330985984000000

The reduce() function is used with a lambda function to multiply each number in the list together, resulting in the product.

 Q5. Filter the numbers in a list that are divisible by 2 and 3 using the filter function:

In [10]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

divisible_by_2_and_3 = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))
print(divisible_by_2_and_3)

[6, 60, 90, 120]